@model Spice.Models.Coupon
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1 class="text-info">Create Coupon</h1>
<form method="post" asp-action="Create">
    <div class="border backgroundwhiteBorder ">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="from-group row">
            <div class="col-2">
                <label asp-for="Name"></label>
            </div>

            <div class="col-5 ">
                <input asp-for="Name" class=" form-control">
            </div>

            <span asp-validation-for="Name" class="text-danger"></span>
            <div class="from-group row">
                <div class="col-2">
                    <label asp-for="CouponType"></label>
                </div>

                <div class="col-5 ">
                    <select asp-for="CouponType" asp-items="Html.GetEnumSelectList<Coupon.ECouponType>()" class="form-control"></select>
                </div>

                <span asp-validation-for="CouponType" class="text-danger"></span>
            </div>
            <div class="from-group row">
                <div class="col-2">
                    <label asp-for="Discount"></label>
                </div>

                <div class="col-5 ">
                    <input asp-for="Discount" class=" form-control">
                </div>

                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="from-group row">
                <div class="col-2">
                    <label asp-for="Picture"></label>
                </div>

                <div class="col-5 ">
                    <input type="file" id="projectImage" name="files" multiple class="form-control">
                </div>
            </div>
            <div class="from-group row">
                <div class="col-2">
                    <label asp-for="isActive"></label>
                </div>

                <div class="col-5 ">
                    <input type="checkbox" asp-for="isActive" class=" form-control">
                </div>

            </div>
            <div class="from-group row">
                <div class="col-2">
                    <label asp-for="MinimunAmount"></label>
                </div>

                <div class="col-5 ">
                    <input type="checkbox" asp-for="MinimunAmount" class=" form-control">
                </div>

            </div>

        </div><br />
            <partial name="_CreateReturnPartial" />
        </div>
</form>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

