@model IEnumerable<SubCategory>
    @{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div class="border backgroundwhiteBorder">
        <div class="row">
            <div class="col-6">
                <h2 class="text-info">Category List</h2>
            </div>
            <div class="col-6 text-right">
                <partial name="_CreatePartial"></partial>
            </div>
        </div>

            <table class="table table-striped border">
               <tr>
                   <th>
                       @Html.DisplayNameFor(m=>m.Name)
                   </th>
                   <th></th>
                   <th>
                   </th>
               </tr>
                @foreach (var item in Model.ToList()){
                <tr>
                    <td>
                        @Html.DisplayFor(m=>item.Name)
                    </td>
                    <td>
                        <partial name="_CreateDetailDeletePartial"></partial>
                    </td>
                </tr>
                }
            </table>
        
    </div>


